*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


@media screen and (min-width:650px) and (max-width:1440px) {
    



#content-box{
    display:flex;
    flex-direction: column ;
    height: 200vh;   

}




#Header{
    background:url('/public/images/image-hero.jpg');
    height: 30%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
   
}

#nav-container{
    position:absolute;
    left:1000px;
    bottom:260px;
}

.main-nav{
  display:inline-flex;
  padding: 5px;
}

.main-nav>a{
    margin:5px;
    color:#feffff;
    font-size: 15px
}

a{
text-decoration: none;
}

#loopstudios{
    color: #fefdfd;
    font-weight:bold;
    position: relative;
    left:100px;
    font-size: x-large;
}

#Header-Promo{
color: #feffff;
border: 2px solid #feffff;
width: 300px;
height: 160px;
position: relative;
left: 100px;
top:50px;
}

.Header-Promo-text{
    font-weight:300;
    font-size:35px;
}

#Creations{
    background-color: rgba(254,255,254,255);
    height:auto;
    padding: 10px;
    margin-left: 280px;
}


#Adverts{
    background-color: rgba(254,255,254,255);
    height: 20%;
    padding-top: 50px;
    display: flex;
    position: relative;
    align-items:center;
    justify-content: center;
    flex-direction:column;
}

#VR-img-container{
    height:80%;
    width:40%;
}

#VR-img{
    height: 120%;
    width: 100%;    
}

#creations-imgs{
    display:grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,10%);
    height: 70%;
    row-gap: 5px;

 
}

.grid-element{
  border-radius:5px ;
  height: 200px;
  width: 100px;
  display: flex;
  flex-direction: row;
  background-color:blue ;
}

.grid-element>p{
    align-self: flex-end;
    color: #ffffff;
    font-size:large;
}


#img1-container{
    background-image: url('/public/images/image-deep-earth.jpg');
    background-size: 100% 100%;
}

#img2-container{
    background-image: url('/public/images/image-night-arcade.jpg');
    background-size: 100% 100%;
}


#img3-container{
    background-image: url('/public/images/image-soccer-team.jpg');
    background-size: 100% 100%;
}



#img4-container{
    background-image: url('/public/images/image-grid.jpg');
    background-size: 100% 100%;
}


#img5-container{
    background-image: url('/public/images/image-from-above.jpg');
    background-size: 100% 100%;
}

#img6-container{
    background-image: url('/public/images/image-pocket-borealis.jpg');
    background-size: 100% 100%;
}

#img7-container{
    background-image: url('/public/images/image-curiosity.jpg');
    background-size: 100% 100%;
}   

#img8-container{
    background-image: url('/public/images/image-pocket-borealis.jpg');
    background-size: 100% 100%;
}



}